/*
* Header
*/

.header .service-client {
	text-align: left;
	width: 180px;
}
.header .chat {
	width: 100px;
}
.header .rapeler {
	width: 100px;
}

/*
* Navigation
*/
.navigation {
	height: 44px;
}

/*
* Main-content
*/
.main-content .right-content {
	width:27.33%;
}

.left-etape-content h3 {
    height: 20px;
}

/*
* Footer
*/
.main-footer .columns {
	width:28.33%;
}