/*
* Misc CSS
*/
.border-gray { 
	border:1px solid #d0d0d0;  
}
.rmv-std-btn {
	background-color: transparent;
    border: medium none;
}
.btn-green {
	background: url("../images/btn_green.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-weight: bold;
    height: 43px;
    text-align: center;
    width: 161px;
}
.btn-green:hover {
	background-position: 0 -42px;
	cursor: pointer;
}

.lbl-white {
	color: #fff;
	margin-bottom:4px;
}

.link {
	color:#fff;
	text-decoration: underline;
}
/*
* Header----------------------------
*/
.header {
	background: url("../images/header_seperator.png") no-repeat scroll 184px 0 transparent;
	height:69px;
}
.main-title {
	font-family: freeroadregular;
	font-size: 1.21em;
	padding-top: 15px;
	color:#383838;
}

.header .three {
	height: 69px;
}

.header .service-client {
    padding-top: 6px;
}

.header .chat {
	background: url("../images/chat.png") no-repeat scroll 0 0 transparent;
	height: 69px;
	padding-left: 141px;
}
.header .rapeler {
	background: url("../images/rapeler.png") no-repeat scroll 20px 0 transparent;
	height: 69px;
	padding-left: 100px;
}

.header .last-2 {
	font-weight: bold;
	font-size: 0.8em;
	padding-top: 8px;
}
.header .last-2 span{
	color: #3FAFE7;
    display: block;
    font: normal normal normal 1.4em freeroadregular;
}


/*
* Nav & footer----------------------
*/
.navigation,.main-footer {
	background: url("../images/gradient_bg.png") repeat-x scroll 0 0 transparent;
	height:59px;
	color:#fff;
}
.navigation {
	padding:8px;
}
.main-footer {
	padding-top: 12px;
	 margin-top: 20px;
}
.main-footer .four{
	height: 28px;
    padding-top: 8px;
    font-family: freeroadregular;
}

.main-footer .paiement {
	background: url("../images/paiement_icon.png") no-repeat scroll 70px 0 transparent;
}
.main-footer .livraison {
	background: url("../images/livraison_icon.png") no-repeat scroll 68px 0 transparent;
}
.main-footer .souscription {
	background: url("../images/souscription_icon.png") no-repeat scroll 25px 0 transparent;
	padding-left: 30px;
}

.below-footer p{
	text-align: center;
	color:#bdbdbd;
	font-size: 0.7em;
	margin-top: 15px;
}

/*
* Main section - Left & Right----------------------
*/
body {
	background: url("../images/radial_shadow.png") no-repeat scroll center 128px transparent;
	color:#2b2b2b;
}
.left-content {
	
}
.right-content {
	background-color: #9ac447;
	min-height: 100px;
}

.left-content .etapes { 
	margin: 20px 0 0 0;
	height: 108px;
}

.left-content .block-grid.etapes li{ 
	margin-left: -22px;
	margin-top: 6px;
	padding: 0;
	position: relative;
	height:80px;
}
.left-content .block-grid.etapes li:hover {
	cursor: pointer;
}
.left-content .block-grid.etapes li a {
	font-size: 20px;
    left: 34px;
    position: absolute;
    z-index: 10;
}
.left-content .block-grid.etapes li a span {

}
.left-content .block-grid.etapes li img { 

}
.left-content .block-grid.etapes .etape1 {
    z-index: 5;
}
.left-content .block-grid.etapes .etape2 {
	z-index: 4;
}
.left-content .block-grid.etapes .etape3 {
	z-index: 3;
}
.left-content .block-grid.etapes .etape4 {
	z-index: 2;
}
.left-content .block-grid.etapes li.page-active {
	color: #98c347;
}
.left-content .block-grid.etapes li.etape-active {
	margin: 0;
    width: 198px;
    z-index: 5;
    height:108px;
}

/*
* Main content -first step - 0
*/
.frm-etape-tester {
	padding: 20px;
}
.frm-etape-tester label {
	margin-bottom: 10px;
}
.frm-etape-tester input[type='submit'] {
	margin-top: 18px;
}
.misc-custom-1 {
	float: left;
    margin-top: 20px;
    text-align: right;
    width: 100%;
}

/*
* Main content -first step - 1
*/
.misc-custom-2 {
	margin-left: 10px;
    margin-top: -1px;
    position: absolute;
}
.debit-adsl {
	background: url("../images/vsep.png") no-repeat scroll center 29px transparent;
    height: 207px;
}
.frm-options {
	margin-top: 10px;
}
.services-mediaserv li{

}
.services-mediaserv li.available{

}
.services-mediaserv li.not-available{

}
.services-mediaserv li.telephone span{

}
.services-mediaserv li.internet span{

}

.services-mediaserv li.television span{

}
/*
* Left main content
*/
.left-etape-content h3 {
	background: url("../images/h3_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #EDEDED;
    font-size: 0.8em;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin:0;
}

/*
* Right content
*/
.right-content {
	padding-top:10px;
}